.chat-layout {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 20px;
  height: 100vh;
}

.chat-header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background-color: aqua;
}

.chat-user-info {
  flex-grow: 1;
}

.messages-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  flex-grow: 1;
  overflow-y: auto;

  padding: 16px;
  min-height: 0;

  scrollbar-width: none;
}